*{
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background: linear-gradient(to right, #b20a2c, #fffbd5); */
    background-image: linear-gradient(to right top, #05163b, #091e48, #0e2556, #132e64, #173673, #144584, #0d5495, #0064a5, #007eb7, #0097c4, #00b0cd, #44c8d4);
}
.navbar{
    overflow: hidden;
    height:90px;
    /* background-image: linear-gradient(to right, #000000, #3f101c, #7b0b27, #b80026, #f21111); */
    background-image: linear-gradient(to right top, #05163b, #091e48, #0e2556, #132e64, #173673, #144584, #0d5495, #0064a5, #007eb7, #0097c4, #00b0cd, #44c8d4);
    /* background-color: black; */
    display: flex;
    column-gap: 50px;
    border-bottom:2px solid #000000;
}
.logo{
    height:90px;
    width:100px;
}
.logo img{
    height:90px;
    width:100px;
    border-radius: 20px;
}
.navlinks{
    flex-basis: 1150px;
    margin-left: 700px;
}
.navul{
    font-size: 17px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 35px;
}
.navul li{
    display: inline;
    border-right: 1px solid #bbb;
}
.navul li a{
    
    padding: 40px;
    text-decoration: none;
    color:white
}
.user{
    align-self: center;
    justify-items: center;
}
.user button{
    margin-right: 20px;
    width: 110px;
    height: 50px;
    background-image: linear-gradient(to right top, #05163b, #06173a, #07183a, #081939, #0a1a38, #041c37, #011d34, #001e32, #001f2c, #061f26, #0e1e21, #151d1d);
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 7px;
    border-radius: 15px;
    box-shadow: #131a61;
    cursor: pointer;
}
.top img{
    width:100%;
    height:690px;
    
}
.info p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 30px;;
    letter-spacing: 1px;
    color: white;
    line-height: 30px;
}
.start{
    display: flex;
    flex-direction: column;
    row-gap: 30px;;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: white;
}
.start button{
    height: 80px;
   width: 180px;
   border-radius: 15px;
   border: 2px solid black;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   /* background-image: linear-gradient(to right top, #f64368, #fa5d69, #fc736c, #fe8772, #ff9a7b); */
   background-image: linear-gradient(to right top, #05163b, #091e48, #0e2556, #132e64, #173673, #144584, #0d5495, #0064a5, #007eb7, #0097c4, #00b0cd, #44c8d4);
   position: absolute;
   margin-top: -150px;
   box-shadow: 5px 5px 5px rgb(62, 64, 219);
   margin-left: -70px;
}