@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    /* background-image: linear-gradient(to right top, #121a69, #111b64, #111c5e, #111d59, #121d53, #19235c, #1f2a64, #25306d, #333f87, #404fa2, #4e60bd, #5c71da); */
    /* background-image: linear-gradient(to right top, #8042af, #6f3999, #5f3183, #4f286e, #402059, #43205a, #45215a, #48215b, #5f2a70, #773385, #913c9a, #ad45ae); */
    background-color: rgb(20, 19, 19);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Vibur', cursive;
    font-family: 'Abel', sans-serif;
    opacity: .95;
}
form {
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 7% auto;
    /* box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31); */
    padding: 2%;
    background-image: linear-gradient(-225deg, #a262cc 50%, #332a2a 50%);
    border-radius: 25px;
}

form .con {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
      margin: 0 auto;
}

header {
    margin: 2% auto 10% auto;
    text-align: center;
}

header h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}
header p {letter-spacing: 0.05em;}



.input-item {
    background: #fff;
    color: #333;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
}


input[class="form-input"]{
    width: 300px;
    height: 50px;
  
    margin-top: 2%;
    margin-left: 13%;
    padding: 15px;
    
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
  
    outline: none;
    border: none;
  
    border-radius: 15px;
    transition: 0.2s linear;
    
}

input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

.err1{
    color:red;
    visibility: hidden;
}
.err{
    color:red;
    margin-left: 45px;
}

.log-in {
    display: inline-block;
    color: #252537;
    
    width: 100px;
    height: 50px;
  
    padding: 0 20px;
    background: #fff;
    border-radius: 15px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 7% 37%;
    letter-spacing: 0.05em;
}
.invalid{
        color: red;
}
.other{
    display: flex;
    column-gap: 200px;
}
.other button{
    color: #252537;
    
    width: 100px;
    height: 50px;
  
    padding: 0 20px;
    background: #fff;
    border-radius: 15px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;

    letter-spacing: 0.05em;
}

.frgt-pass {background: transparent;}


.sign-up {background: #B8F2E6;}


button:hover {
    transform: translatey(3px);
    box-shadow: none;
}


button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}
