@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

* {
  margin: 0;
  box-sizing: border-box;
}

.navbari {
  overflow: hidden;
  height: 90px;
  background-image: linear-gradient(to right top, #05163b, #091e48, #0e2556, #132e64, #173673, #144584, #0d5495, #0064a5, #007eb7, #0097c4, #00b0cd, #44c8d4);
  display: flex;
  column-gap: 50px;
  border-bottom: 2px solid #000000;
}

.logoi {
  height: 90px;
  width: 100px;
}

.logoi img {
  height: 90px;
  width: 100px;
  border-radius: 20px;
}

.navlinksi {
  flex-basis: 1250px;
}

.navuli {
  font-size: 17px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 35px;
  margin-left: 600px;
}

.navuli li {
  display: inline;
  border-right: 1px solid #bbb;
}

.navuli li a {
  padding: 40px;
  text-decoration: none;
  color: white;
}

.useri {
  align-self: center;
  justify-items: center;
}

.useri button {
  margin-left: 60px;
    width: 110px;
    height: 50px;
    background-image: linear-gradient(to right top, #05163b, #06173a, #07183a, #081939, #0a1a38, #041c37, #011d34, #001e32, #001f2c, #061f26, #0e1e21, #151d1d);
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 7px;
    border-radius: 15px;
    box-shadow: #131a61;
    cursor: pointer;
}

body {
  background: #fffbd5;
  background-color: black;

  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #000;
}

.student-profile .card {
  border-radius: 10px;
}

.student-profile .card .card-header .profile_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px auto;
  border: 10px solid #ccc;
  border-radius: 50%;
}

.student-profile .card h3 {
  font-size: 20px;
  font-weight: 700;
}

.student-profile .card p {
  font-size: 16px;
  color: #000;
}

.student-profile .table th,
.student-profile .table td {
  font-size: 14px;
  padding: 5px 10px;
  color: #000;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit {
  border-radius: 5px;
  background-color: rgb(13, 39, 153);
  color: white;
}